<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SpotiVote - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
    <div class="page">
      <img class="profile_pic" src="{{ .ProfilePicture }}" alt="Profile Picture" height=90px>
      <h1><b>SpotiVote</b></h1>
      <form action="/host" method="post">
        <button class="button" name="session_id" type="submit" value="{{ .SessionID }}">Start a Session</button>
      </form> 
    </div>
  </body>
</html>